<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #1f2932;
            color: #2effab;
        }
        h1, h2 {
            color: #a0c1f3;
        }

        h3 {
            font-size: 15px;
        }

        .btn-custom {
            color: #ced7e0;
            background-color: #263238;
            border: 1px solid #2effab;
        }
        .btn-custom.active {
            background-color: #2effab;
            color: #1f2932;
            border-color: #2effab;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1 class="text-center my-4">Upload Data</h1>

        <!-- Upload Form -->
        <div class="row mb-4">
            <div class="col-12">
                <h2>Upload your IG CSV (Use this for first time upload) </h2>
                <h3>Upload your CSV file which can be accessed from IG under History > View Full History > Profit/Loss breakdown > Select "Closed" > Select timeframe > Show history > Download CSV </h3>
                <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" class="form-inline">
                    <div class="form-group mr-2">
                        <input type="file" name="file" class="form-control-file">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload CSV</button>
                </form>
            </div>
        </div>

        <!-- Upload New Data Form -->
        <div class="row mb-4">
            <div class="col-12">
                <h2>Upload New Data (Use this to merge/add to existing data) </h2>
                <form action="{{ url_for('merge_file') }}" method="post" enctype="multipart/form-data" class="form-inline">
                    <div class="form-group mr-2">
                        <input type="file" name="file" class="form-control-file">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload New Data</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
